.create-task-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.create-task-modal .create-task-modal-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 40%;
    background-color: white ;
    border-radius: 12px;
    border: 0px 0px 0px 4px;
    padding: 0px 4px 4px 4px;
}
